@model Voyage.Core.Exceptions.NotFoundException

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-2 col-lg-offset-4">
        <div class="well well-sm">         
            <div class="col-xs-12">
                <img src="../../Content/Images/voyage-logo-vert.svg" alt="voyage-logo">
            </div>                
            <form method="POST" class="form-horizontal" style="margin-left: 20px;">
                <fieldset>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="text" class="form-control" id="username" name="username" placeholder="User Id">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                        <div class="col-xs-12">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                        <div class="col-xs-12">
                            <div class="checkbox" style="padding-left: 0;">
                                <label>
                                    <input type="checkbox" id="isPersistent" name="isPersistent">
                                    <span class="checkbox-material">
                                        <span class="check"></span>
                                    </span> Remember Me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                        <div class="col-xs-12">
                            <input type="submit" class="btn btn-primary btn-raised btn-lg" style="background-color: #4285f4" name="submit.Signin" value="Log In"/>
                        </div>
                    </div>

                    @if (Model != null)
                    {
                        <div class="col-xs-12" style="color: lightcoral">Login Failed</div>
                    }
                </fieldset>
            </form>
        </div>
    </div>
</div>

