@model Voyage.Security.Oauth2.Models.LoginModel


<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-lg-offset-4">
        <div class="well well-sm">
            <div class="col-xs-12">
                <img src="../../Content/Images/voyage-logo-vert.svg" alt="voyage-logo">
            </div>
            <div class="col-xs-12">
                <form method="POST">                        
                    <div class="form-group" style="margin-top: 10px;">
                        <div class="col-xs-12">
                            <input type="text" class="form-control" id="username" name="username" placeholder="User Id">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 5px;">
                        <div class="col-xs-12">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 0;">
                        <div class="col-xs-12">
                            <input type="submit" class="btn btn-primary btn-raised btn-lg primary-color full-width" name="submit.Signin" value="SIGN IN" />
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 0;">
                        <div class="col-xs-12">
                            <a style="color: #4285f4;" href="/forgotpassword?ReturnUrl=@Model.ReturnUrl">Forgot Your Password</a>
                        </div>
                    </div>

                    @if (Model.NotFoundException != null)
                    {
                        <div class="col-xs-12" style="color: lightcoral">@Model.NotFoundException.Message</div>
                    }
                        
                </form>
            </div>
        </div>
    </div>
</div>

