@model Voyage.Security.Oauth2.Models.LoginModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voyage</title>
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" />
    <link rel="stylesheet" href="../../Content/Site.css" />
    <script type="text/javascript" src="../../Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="../../Content/bootstrap-material-design.css">
    <link rel="stylesheet" href="../../Content/ripples.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #4285f4">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="../../Content/Images/voyage-logo-horiz.svg" alt="voyage-logo" width="130" height="40" style="margin-top: 5px; margin-left: 10px;" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content" style="margin-top: 15px;">

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-lg-offset-4">
                <div class="well well-sm">
                    <div class="col-xs-12">
                        <img src="../../Content/Images/voyage-logo-vert.svg" alt="voyage-logo">
                    </div>
                    <form method="POST" class="form-horizontal" style="margin-left: 20px;">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" id="username" name="username" placeholder="User Id">
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 10px;">
                                <div class="col-xs-12">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 10px;">
                                <div class="col-xs-12">
                                    <div class="checkbox" style="padding-left: 0;">
                                        <label>
                                            <input type="checkbox" id="isPersistent" name="isPersistent">
                                            <span class="checkbox-material">
                                                <span class="check"></span>
                                            </span> Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 5px;">
                                <div class="col-xs-12">
                                    <a href="/forgotpassword?ReturnUrl=@Model.ReturnUrl">Forgot Password</a>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 10px;">
                                <div class="col-xs-12">
                                    <input type="submit" class="btn btn-primary btn-raised btn-lg" style="background-color: #4285f4" name="submit.Signin" value="Log In" />
                                </div>
                            </div>

                            @if (Model.NotFoundException != null)
                            {
                                <div class="col-xs-12" style="color: lightcoral">@Model.NotFoundException.Message</div>
                            }
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <hr />
        <footer></footer>
    </div>

    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap-material-design.js"></script>
    <script type="text/javascript" src="../../Scripts/ripples.js"></script>
</body>
</html>