@using System.Web
@{
    var authentication = Context.GetOwinContext().Authentication;
    var ticket = authentication.AuthenticateAsync("Application").Result;
    var identity = ticket != null ? ticket.Identity : null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voyage</title>
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" />
    <link rel="stylesheet" href="../../Content/Site.css" />
    <script type="text/javascript" src="../../Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="../../Content/bootstrap-material-design.css">
    <link rel="stylesheet" href="../../Content/ripples.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #4285f4">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="../../Content/Images/voyage-logo-horiz.svg" alt="voyage-logo" width="130" height="40" style="margin-top: 5px; margin-left: 10px;" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content" style="margin-top: 15px;">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="well well-sm">
                    <h1>Authorization Server</h1>
                    <h2>OAuth2 Authorize</h2>
                    <form method="POST">
                        <p>Hello, @identity.Name</p>
                        <p>A third party application want to do the following on your behalf:</p>
                        <ul>
                            @foreach (var scope in ViewBag.Scopes)
                            {
                                <li>@scope</li>
                            }
                        </ul>
                        <p>
                            <input type="submit" name="submit.Grant" value="Grant" class="btn btn-primary btn-raised btn-lg" style="background-color: #4285f4" />
                            <input type="submit" name="submit.Login" value="Sign in as different user" class="btn btn-primary btn-raised btn-lg" style="background-color: #4285f4" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <hr />
        <footer></footer>
    </div>

    <script type="text/javascript" src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap-material-design.js"></script>
    <script type="text/javascript" src="../../Scripts/ripples.js"></script>
</body>
</html>