.body-content{
 
}

body { padding-top: 70px; }

.ng-invalid{
    background-color: #f9f2f4;
    color: #c7254e;
}

.page-header.compact {
    margin-top: 0px;
}

.nav-header{
    font-weight: 600;
    color: #777;
}