<div class="col-sm-10">
   <div class="row">
        <div class="col-sm-12 page-header compact">
            <h1>Assign Role</h1>
        </div>
    </div>

   <form class="form-horizontal">
        <div class="row">
            <div class="form-group">
                <label for="roleSelect" class="col-sm-2 control-label">Role</label>
                <div class="col-sm-10">

                    <select class="form-control"
                        ng-options="item as item.name for item in vm.roles track by item.id" ng-model="vm.selectedRole">

                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="roleSelect" class="col-sm-2 control-label">User</label>
                <div class="col-sm-10">

                    <select class="form-control"
                        ng-options="item as item.name for item in vm.users track by item.id" ng-model="vm.selectedUser">

                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div >
                        <span>
                            <label for="assignOption">Assign</label>
                            <input id="assignOption" type="radio" ng-model="vm.operation" value="assign"/>
                        </span>
                        <span>
                            <label for="revokeOption">Revoke</label>
                            <input type="radio" id="revokeOption" ng-model="vm.operation" value="revoke"/>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" ng-click="vm.assign()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
            
    </form>

</div>