<div class="col-sm-10">
    <div class="row">
        <div class="col-sm-12 page-header compact">
            <h1>Users</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <ul class="list-unstyled">
                <li ng-repeat="user in vm.users">
                    <strong>User: {{user.name}}</strong>
                    <div>Roles</div>
                    <ul>
                        <li ng-repeat="role in user.roles">
                            {{role.name}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-success" ng-click="vm.refresh()">Refresh</button>
        </div>
    </div>
</div>