<div >

    <div class="row">
        <div class="col-sm-12 page-header compact">
            <h1>Remove Claim</h1>
        </div>
    </div>


    <form class="form-horizontal">
        <div class="row">
            <div class="form-group">
                <label for="roleSelect" class="col-sm-2 control-label">Role</label>
                <div class="col-sm-10">

                    <select class="form-control"
                        ng-options="item as item.name for item in vm.roles" ng-model="vm.selectedRole">

                    </select>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="form-group">
                <label for="roleSelect" class="col-sm-2 control-label">Claim</label>
                <div class="col-sm-10">

                    <select class="form-control"
                        ng-options="item as item.claimValue for item in vm.selectedRole.claims" ng-model="vm.selectedClaim">

                    </select>
                </div>
            </div>
        </div>


        
        <div class="row">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" ng-click="vm.save()" class="btn btn-primary">Remove</button>
                    <button type="button" ng-click="vm.refresh()" class="btn btn-success" >Refresh</button>
                </div>
            </div>
        </div>
            
    </form>
</div>