<div class="col-sm-10">
    <div class="row">
        <div class="col-sm-12 page-header compact">
            <h1>Roles</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <ul class="list-unstyled">
                <li ng-repeat="role in vm.roles">
                    <strong>Role: {{role.name}}</strong>
                    <div>Claims</div>
                    <ul>
                        <li ng-repeat="claim in role.claims">
                            {{claim.claimValue}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-success" ng-click="vm.refresh()">Refresh</button>
        </div>
    </div>
</div>