@using System.Web
@{
    var authentication = Context.GetOwinContext().Authentication;
    var ticket = authentication.AuthenticateAsync("Application").Result;
    var identity = ticket?.Identity;
}

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3 col-lg-offset-4">
        <div class="well well-sm">
            <div class="col-xs-12">
                <h2>Authorize Application</h2>
                <form method="POST">
                    <p>Hello, <b>@identity.Name</b></p>
                    <p>Voyage would like permission to access your account</p>
                    <br/>
                    <div class="list-group">
                        @foreach (var scope in ViewBag.Scopes)
                        {
                            <div class="list-group-item">
                                <div class="row-action-primary">
                                    <i class="material-icons">person</i>
                                </div>
                                <div class="row-content">
                                    <h4 class="list-group-item-heading">@scope</h4>
                                </div>
                            </div>
                        }
                    </div>
                    <input type="submit" class="btn btn-primary btn-raised btn-lg primary-color full-width" name="submit.Grant" value="Grant Access" />
                    <input type="submit" class="btn btn-primary btn-raised btn-lg full-width secondary-color" name="submit.Login" value="Cancel" />                  
                </form>
            </div>
        </div>
    </div>
</div>

